<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <link href="img/products-ico.ico" rel="shortcut icon" type="image/x-icon"/>
    <title>Редактирование товара</title>
</head>
<body>
<form th:object="${product}" th:action="@{'/products/edit/' + ${product.id}}" method="post">
    <span>id</span>
    <input th:field="*{id}" type="hidden">
    </p>
    <span>name</span>
    <input th:field="*{title}">
    </p>
    <span>color</span>
    <input th:field="*{price}">
    </p>
    <button type="submit">Сохранить</button>
</form>
<br/>
<a th:href="@{/products}">На главную</a>
</body>
</html>