<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>
    <script type="text/javascript" th:src="@{css/script.js}"></script>
</head>
<br>
<div id="head">
    Каталог товаров
</div>
<div id="class1">
    <form id="search-field" th:action="@{/products}" method="get">
        <input th:value="${word != null} ? ${word}" class="filed" name="word" placeholder="Слово">
        <input th:value="${minPrice != null} ? ${minPrice}" class="field" name="minPrice" placeholder="минимальная цена">
        <input th:value="${maxPrice != null} ? ${maxPrice}" class="field" name="maxPrice" placeholder="максимальная цена">
        <button  type="submit" class="button">Сортировать</button>
    </form>
</div>
<div sec:authorize="isAuthenticated()" class="login">
     <span th:text="'Пользователь '  + ${username}"></span>
    <form th:action="@{/logout}" method="post">
        <button id="logoutbutton" class="button">Выйти</button>
    </form>
</div>
<div sec:authorize="isAnonymous()" class="login">
    <form th:action="@{/login}" method="post">
<!--        <input th:bgcolor="dodgerblue" type="text" placeholder="логин" name="login">-->
<!--        <input th:bgcolor="dodgerblue" type="text" placeholder="пароль" name="password">-->
        <br/>
        <button class="button">Войти</button>
    </form>
</div>
<div id="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <body>
        <tr th:each="product : ${products}">
            <td th:text="${product.title}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"></a>
                <a  sec:authorize="hasAnyRole('ADMIN')" th:href="@{'/products/edit/' + ${product.id}}" th:text="Изменить"/>
            </td>
        </tr>
        </body>
    </table>
    <span th:text="${'Всего товаров ' + amount}"/>
    <br/>
    <br/>
    <form sec:authorize="hasAnyRole('ADMIN')" th:action="@{'/products/add'}">
        <button class="button">Создать продукт</button>
    </form>
    <br/>
    <form th:action="@{'/products'}">
        <button type="submit" name="page" value="1">1</button>
        <button type="submit" name="page" value="2">2</button>
        <button type="submit" name="page" value="3">3</button>
        <button type="submit" name="page" value="4">4</button>
        <button type="submit" name="page" value="5">5</button>
    </form>
</div>
<div id="most_popular">
    <b>Самые просматриваемые</b><br/>
    <table class="table table-hover">
        <thead>
        <tr>
<!--            <th>Название товара</th>-->
<!--            <th>Цена</th>-->
<!--            <th>Действия</th>-->
        </tr>
        </thead>
        <body>
        <tr th:each="product : ${mostPopularProducts}">
            <td th:text="${product.title}"></td>
<!--            <td th:text="${product.price}"></td>-->
            <td>
                <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"></a>
            </td>
        </tr>
        </body>
    </table>
</div>
</body>
</html>